<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
  http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd">

    <task:annotation-driven /> <!-- 定时器开关-->
    <bean id="myTask" class="ssm.job.SsmJobClient"></bean>

    <task:scheduled-tasks>
        <!-- 这里表示的是每隔五秒执行一次
            * * * * * ?
            秒分时日月年
        -->
        <task:scheduled ref="myTask" method="Task_1" cron="*/5 * * * * ?" />
        <task:scheduled ref="myTask" method="Task_2" cron="*/10 * * * * ?"/>
    </task:scheduled-tasks>

    <!-- 自动扫描的包名 -->
    <context:component-scan base-package="ssm.job" />

</beans>